.container {
  width: 100%;
  height: 80vh;
  border-radius: 50px 50px 0px 0px;

  animation: opacBG 0.5s forwards;
}
.previewContainer {
  width: auto;
  height: auto;
  border-radius: 50px 50px 0px 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
}

.previewContainer .previewInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  overflow: hidden;
}

.skillsHashTag {
  font-family: KCC-Ganpan;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 50px;
  margin-right: 15px;
}
.skillsTitle {
  text-decoration: none;
  color: white;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 3px;
  word-break: keep-all;
  transition: all 0.7s;
  &:hover {
    transform: scale(1.1);
  }
}

.previewContainer .previewInnerContainer .carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.previewContainer .projectExContainer {
  width: 50%;
  height: 80vh;
  border-top-right-radius: 50px;
}
.previewContainer .projectExContainer .innerExContainer {
  font-family: MBC1961GulimM;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.previewContainer .projectExContainer .innerExContainer .skillContainer {
  display: flex;
  align-items: center;
}
.reactJs {
  width: 70px;
  height: 70px;
  background-image: url("../../../../public/images/languageIcons/reactJS_icon.png");
  background-size: 100% 100%;
}
.css {
  width: 80px;
  height: 80px;
  background-image: url("../../../../public/images/languageIcons/css_icon.png");
  background-size: 100% 100%;
  margin-bottom: 15px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.titles .titles_TitleArea {
  width: 100%;
  height: auto;
  display: flex;
  opacity: 0;

  animation: textAnim 1s forwards 1s;
}

.titles .titles_TitleArea .title_Title {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 30px;
  word-break: keep-all;
}
.titles .titles_TitleArea .title_Text {
  font-size: 18px;
  font-weight: bold;
  padding: 30px;
  word-break: keep-all;
}

.detail {
  width: 100%;
  height: 250px;
}

.detail ._detailEx {
  width: auto;
  height: auto;
  padding: 0px 20px;
  word-break: keep-all;
  opacity: 0;

  animation: textAnim 1s forwards 1.5s;
}

@keyframes opacBG {
  from {
    background-color: transparent;
  }
  to {
    background-color: #5232cd;
  }
}
@keyframes textAnim {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
