.carousel {
  overflow: hidden;
  opacity: 0;
  animation: carouselAnim 1s forwards 0.5s;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > button {
  margin: 8px;
}

.indicators .prevBtn {
  border: none;
  background-color: transparent;
  background-image: url(".././../../../public/images/kiosk_arrow.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
  transform: scaleX(-1);
  &:hover {
    cursor: pointer;
    transform: scaleX(-1) scale(1.2);
  }
  &:active {
    transform: scaleX(-1) scale(0.8);
  }
}
.indicators .nextBtn {
  border: none;
  background-color: transparent;
  background-image: url(".././../../../public/images/kiosk_arrow.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
  }
}

.indicators .inActive {
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 15px;
  height: 15px;
  transform: scale(0.6);
  transition: all 0.5s;
  cursor: pointer;
}

.indicators .active {
  border-radius: 50%;
  border: none;
  background-color: #a94cc0;
  width: 15px;
  height: 15px;
  transition: all 0.5s;
  transform: scale(1);
  cursor: pointer;
}

@keyframes carouselAnim {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
