.bgColor {
  background-color: #eff2fb;
  font-family: "MBC1961GulimM";
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 20px 0px;
}

.aboutMeHashTag {
  font-family: KCC-Ganpan;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 50px;
  margin: 20px;
}

.aboutMeTitle {
  text-decoration: none;
  color: black;
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 3px;
  word-break: keep-all;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}
.photoArea {
  margin: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photoArea .profilePhoto {
  width: 400px;
  height: 400px;
  background-image: url("../../../public/images/profile.png");
  background-size: 100% 100%;
}
.photoArea .porfileIcon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 50px;
}

.photoArea .porfileIcon .phone {
  background-image: url("../../../public/images/iconPhone.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px gray;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
.photoArea .porfileIcon .email {
  background-image: url("../../../public/images/iconMail.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px gray;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
.photoArea .porfileIcon .gitHub {
  background-image: url("../../../public/images/iconGit.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px gray;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
.photoArea .porfileIcon .notion {
  background-image: url("../../../public/images/iconNotion.png");
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  border-radius: 50%;
  &:hover {
    box-shadow: 2px 2px 2px gray;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}

.infoArea {
  display: flex;
  align-items: center;
  word-break: keep-all;
}

.infoArea .infoTexts {
  font-size: 20px;
  line-height: 2.2;
}

.infoArea .infoTexts .name {
  color: #b1b2fe;
  font-size: 45px;
}

@media (max-width: 280px) {
  .container {
    flex-direction: column;
  }
  .aboutMeHashTag {
    font-size: 25px;
    margin: 10px;
  }
  .aboutMeTitle {
    font-size: 30px;
    border-bottom: double 4px black;
  }

  /* 나에 대한 텍스트 설명 */
  .infoArea .infoTexts {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 40px;
    font-size: 15px;
  }
  .infoArea .infoTexts .name {
    font-size: 35px;
  }

  /* 내 프로필 사진 및 기타 */
  .photoArea {
    margin: 50px 50px 0px 50px;
    border-radius: 30px;
  }
  .photoArea .profilePhoto {
    width: 250px;
    height: 250px;
  }
  .photoArea .porfileIcon {
    margin: 50px 50px 0px 50px;
    width: 140%;
  }
  /* 아이콘 크기 */
  .photoArea .porfileIcon .phone {
    width: 45px;
    height: 45px;
  }
  .photoArea .porfileIcon .email {
    width: 45px;
    height: 45px;
  }
  .photoArea .porfileIcon .gitHub {
    width: 45px;
    height: 45px;
  }
  .photoArea .porfileIcon .notion {
    width: 45px;
    height: 45px;
  }
}

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (min-width: 281px) and (max-width: 575px) {
  .container {
    flex-direction: column;
  }
  .aboutMeHashTag {
    font-size: 35px;
    margin: 30px 15px;
  }
  .aboutMeTitle {
    font-size: 40px;
  }

  /* 나에 대한 텍스트 설명 */
  .infoArea .infoTexts {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 40px;
    font-size: 15px;
  }

  .infoArea .infoTexts .name {
    font-size: 35px;
  }

  /* 내 프로필 사진 및 기타 */
  .photoArea {
    margin: 10px;
    border-radius: 30px;
  }
  .photoArea .profilePhoto {
    width: 300px;
    height: 300px;
  }
  .photoArea .porfileIcon {
    margin: 50px 50px 0px 50px;
    width: 90%;
  }
  /* 아이콘 크기 */
  .photoArea .porfileIcon .phone {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .email {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .gitHub {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .notion {
    width: 50px;
    height: 50px;
  }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    flex-direction: column;
  }
  .aboutMeHashTag {
    font-size: 35px;
    margin: 30px 15px;
  }
  .aboutMeTitle {
    font-size: 40px;
  }

  /* 나에 대한 텍스트 설명 */
  .infoArea .infoTexts {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 30px;
    font-size: 17px;
  }
  .infoArea .infoTexts .name {
    font-size: 35px;
  }

  /* 내 프로필 사진 및 기타 */
  .photoArea {
    margin: 20px;
    border-radius: 30px;
  }
  .photoArea .profilePhoto {
    width: 400px;
    height: 400px;
  }
  .photoArea .porfileIcon {
    margin: 50px 50px 0px 50px;
    width: 70%;
  }
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 768px) and (max-width: 991px) {
  .infoArea .infoTexts {
    font-size: 15px;
  }
  .infoArea .infoTexts .name {
    font-size: 35px;
  }

  .aboutMeHashTag {
    font-size: 40px;
    margin: 30px 15px;
  }
  .aboutMeTitle {
    font-size: 45px;
  }

  .photoArea {
    margin: 50px;
    border-radius: 30px;
  }
  .photoArea .profilePhoto {
    width: 300px;
    height: 300px;
  }
  .photoArea .porfileIcon {
    margin: 40px;
  }

  /* 아이콘 크기 */
  .photoArea .porfileIcon .phone {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .email {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .gitHub {
    width: 50px;
    height: 50px;
  }
  .photoArea .porfileIcon .notion {
    width: 50px;
    height: 50px;
  }
}

/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
@media (min-width: 992px) and (max-width: 1199px) {
  .infoArea .infoTexts {
    font-size: 17px;
  }
  .infoArea .infoTexts .name {
    font-size: 35px;
  }
  .aboutMeHashTag {
    font-size: 45px;
    margin-right: 15px;
  }
  .aboutMeTitle {
    font-size: 50px;
  }

  .photoArea {
    margin: 50px;
    border-radius: 30px;
  }
  .photoArea .profilePhoto {
    width: 350px;
    height: 350px;
  }
  .photoArea .porfileIcon {
    margin: 40px;
  }
}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) {
}
