.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > button {
  margin: 8px;
}

.indicators .prevBtn {
  border: none;
  background-color: lightcoral;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  width: 30px;
  height: 10px;
  transition: all 0.1s;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.8);
  }
}
.indicators .nextBtn {
  border: none;
  background-color: lightcoral;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 30px;
  height: 10px;
  transition: all 0.1s;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.8);
  }
}

.indicators .inActive {
  border-radius: 50%;
  border: none;
  background-color: black;
  width: 15px;
  height: 15px;
  transition: all 0.5s;
}

.indicators .active {
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 15px;
  height: 15px;
  transition: all 0.5s;
  transform: scale(1.3);
}
