.carousel {
  overflow: hidden;
  opacity: 0;
  animation: carouselAnim 1s forwards 0.5s;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.indicators {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > button {
  margin: 8px;
}

.indicators .prevBtn {
  border: none;
  background-color: transparent;
  background-image: url(".././../../../public/images/six_arrow.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
  transform: scaleX(-1);
  &:hover {
    cursor: pointer;
    transform: scaleX(-1) scale(1.2);
  }
  &:active {
    transform: scaleX(-1) scale(0.8);
  }
}
.indicators .nextBtn {
  border: none;
  background-color: transparent;
  background-image: url(".././../../../public/images/six_arrow.png");
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
  }
}

.indicators .inActive {
  border-radius: 50%;
  border: none;
  background-color: white;
  width: 15px;
  height: 15px;
  transition: all 0.5s;
  transform: scale(0.6);
  cursor: pointer;
}

.indicators .active {
  border-radius: 50%;
  border: none;
  background-color: #9b8649;
  width: 15px;
  height: 15px;
  transition: all 0.5s;
  transform: scale(1);
  cursor: pointer;
}

@keyframes carouselAnim {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* 갤럭시 폴드 */
@media (max-width: 280px) {
}

/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용) */
@media (min-width: 281px) and (max-width: 575px) {
  .indicators .prevBtn {
    &:hover {
      transform: scale(1);
    }
  }
  .indicators .nextBtn {
    &:hover {
      transform: scale(1);
    }
  }

  .indicators > button {
    margin: 20px -1px;
  }

  .indicators .inActive {
    width: 25px;
    height: 25px;
    transform: scale(0.3);
  }

  .indicators .active {
    width: 25px;
    height: 25px;
    transform: scale(0.5);
  }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)  */
@media (min-width: 576px) and (max-width: 767px) {
  .indicators > button {
    margin: 2.5px;
  }

  .indicators .inActive {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transform: scale(0.4);
  }

  .indicators .active {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transform: scale(0.6);
  }
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 768px) and (max-width: 991px) {
  .indicators > button {
    margin: 2.5px;
  }

  .indicators .inActive {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transform: scale(0.4);
  }

  .indicators .active {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transform: scale(0.6);
  }
}

/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)  */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)  */
@media (min-width: 1200px) {
}
